* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --principal-purple: #5500FF;
  --pure-dark: #000;
  --pure-white: #fff;
  --button-blue: #4BC1D2;
  --placeholder-blue: #5E8396;
  --forgot-password-blue: #0096B5;
}

body {
  background-color: var(--pure-dark);
  color: var(--pure-white);
}

h2 {
  text-align: left;
  color: var(--pure-dark);
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--button-blue);
  color: var(--pure-white);
  padding: 11px 0;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #00b0d1;
}

input::placeholder {
  color: var(--placeholder-blue);
}

.header {
  text-align: center;
  padding-top: 20px;

    .image > img {
      width: 116px;
      height: 70px;
    }
}

.main-container {
  text-align: center;
}

.form-container {
  display: inline-block;
  width: 100%; 
  max-width: 960px;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--principal-purple);
}