:root {
  --pure-dark: #000;
  --forgot-password-blue: #0096B5;
}

.button-content {
  text-align: start;
    .button-text-content {
      color: var(--forgot-password-blue);
    }
}

.input-remind_me {
  text-align: start;
  color: var(--pure-dark);
  padding-bottom: 32px;
    #remind-me {
      width: revert;
    }
}

.button-submit {
  padding: 0px 30px 120px;
  button {
    max-width: 100%;
    width: 637px;
  }
}

input, select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}